<%= form_with(model: [@tool, prompt], local: true) do |form| %>
  <% if prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prompt.errors.count, 'error') %> prohibited this prompt from being saved:</h2>
      <ul>
      <% prompt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
