<h1>Prompts for <%= @tool.name %></h1>

<%= link_to 'New Prompt', new_tool_prompt_path(@tool) %> |
<%= link_to 'Back to Tools', tools_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @prompts.each do |prompt| %>
      <tr>
        <td><%= prompt.name %></td>
        <td><%= truncate(prompt.content, length: 60) %></td>
        <td><%= link_to 'Show', [@tool, prompt] %></td>
        <td><%= link_to 'Edit', edit_tool_prompt_path(@tool, prompt) %></td>
        <td><%= link_to 'Destroy', [@tool, prompt], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
